@model Laboratorio_ASP.NET.Models.ModeloIntermedio

@{
    ViewBag.Title = "Detalles de cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<div>
    <h4>Cliente</h4>
    <hr />

    <dl class="dl-horizontal">
        <dd>
            Nombre:
        </dd>
        
        <dt>
            @Html.DisplayFor(model => model.modeloCliente.Nombre)
        </dt>

        <dd>
            1° Apellido:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCliente.Apellido1)
        </dt>

        <dd>
            2° Apellido
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCliente.Apellido2)
        </dt>

        <dd>
            Cédula:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCliente.Cedula)
        </dt>

        <dd>
            Correo:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCliente.Correo)
        </dt>

        <dd>
            Dirección:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCliente.Direccion)
        </dt>

        <dd>
            Teléfono 1:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloTelefono1.Numero)
        </dt>

        <dd>
            Teléfono 2:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloTelefono2.Numero)
        </dt>

        <dd>
            N. Cuenta 1:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCuenta1.Numero)
        </dt>

        <dd>
            Tipo N. Cuenta 1: 
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCuenta1.Tipo)
        </dt>

        <dd>
            N. Cuenta 2: 
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCuenta2.Numero)
        </dt>

        <dd>
            Tipo N. Cuenta 2:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCuenta2.Tipo)
        </dt>
      
        <dd>
            N. Cuenta 3:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCuenta3.Numero)
        </dt>

        <dd>
            Tipo N. Cuenta 3:
        </dd>

        <dt>
            @Html.DisplayFor(model => model.modeloCuenta3.Tipo)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
